.hover_div{
    margin-top: 4px;
}

.expense-container{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.expense-container:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 6px #dde;
}
.amount{
    display: flex;
    align-items: center;
    min-width: 20%;
}
.descript{
    position: relative;
    flex: 1;
}
.des-container{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.amount .amount-money{
    font-weight: bold;
    color: #320B3D;
    display: flex;
    justify-content: center;
    flex: 1;
}
.amount .divider{
    width: 1px;
    height: 40px;
    background-color: #dde;
}
.edit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px #dde;
}

.edit-button:hover{
  cursor: pointer;
  box-shadow: 0 3px 6px #dde;
}
.des-container .title{
    font-weight: bold;
    color: rgb(98, 98, 100);
    font-size: 17px;
}
.des-container .descr{
    font-size: 11px;
    color: rgb(182, 182, 189);
}