.chart-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.bars{
    display: flex;
    align-items: flex-end;
    flex: 1;
    background: linear-gradient(to bottom, #63157A, #320B3D);
    box-shadow: 0px -4px 5px #c5b9c96b;
}

.bars-names{
    display: flex;
    height: 30px;
    width: 100%;
}
.bars-names .bars-names-title{
        width: 30px;
        margin-right: auto;
        margin-left: auto;
        height: 30px;
        font-weight: 500;
        color: rgb(69, 57, 77);
}
.bars div{
    background: rgb(248, 243, 255);
    width: 30px;
    margin-right: auto;
    margin-left: auto;
}
