form{
    height: 100%;
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 60%;
    box-shadow: 0 5px 5px #dde;
}
.form-title{
    height: 56px;
    width: 100%;
    display: flex;
    color: #320B3D;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
}

.form-bottom{
    height: 60px;
    width: 100%;
    
}

.form-body{
    flex:1;
    width: 100%;
}

.input-div{
    width: 100%;
    height: 60px;
    margin: 5px;
}
.input-div input{
    width: 100%;
    height: 34px;
    border: none;
    border-bottom: 1px solid #7c747e70;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
}
.input-div label{
    width: 100%;
    margin-top: 17px;
}

.save,.cancel{
    margin-top: 24px;
    width: 90px;
    border: none;
    height: 32px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 3px 5px #dde;
}
.cancel{
    margin-left: 20px;
}

.save:hover{
    background: #320B3D;
    cursor: pointer;
    color: white;
}
.cancel:hover{
    background: rgb(238, 40, 40);
    color: white;
    cursor: pointer;
}

@media (max-width:950px){
    .center-form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}