.cart{
    position: relative;
    height: auto;
    align-items: end;
  }
  .content{
    height:auto;
    width: 65%;
    flex-direction: column;
  
  }
  
  .menu{
    position: sticky;
    top: 0px;
    width: 35%;
    padding: 20px;
    height: calc(100vh - 80px); 
  }
  