.listcontainer{
    width: 100%;
    padding: 5px 3px;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    align-content: center;
    align-items: flex-start;
    font-size: 12px;

}

.listcontainer:hover{
   background-color: rgb(66, 66, 66);
   box-shadow: -1px 2px 9px 1px rgb(35 34 34);
}