
.modal-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 83%;
    border-radius: 10px;
    box-shadow: 0px 0px 13px #38383ac9;
    transition: ease-in-out;
}

.modal-head{
    position: relative;
    height: 48px;
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to right, #320B3D, #63157A);
    line-height: 43px;
    font-size: 19px;
    font-weight: bold;
    color: whitesmoke;
}


.modal-body{
    flex: 1;
    background: linear-gradient(45deg, rgb(220 220 220) 25%, rgb(248, 243, 255) 10%, rgb(248, 243, 255) 5%, rgb(230, 230, 230) 88%, rgb(201 201 202));
    background-blend-mode: color-burn;
    width: 100%;
}
.closebutton{
    width: 40px;
    height: inherit;
    position: absolute;
    right: 0px;
    border-top-right-radius: 10px;
    border: none;
    background: transparent;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.closebutton:hover{
    cursor: pointer;
    background:  rgb(238, 40, 40);;
}
.separator{
    width: 80%;
    margin-left: 10%;
    height: 1px;
    background: #dde;
}
@media (max-width:957px){
    .modal-content{
    width: 100%;
    }
}