.button {
  font: inherit;
  border: 1px solid #181819;
  background: #161517;
  color: white;
  padding: 0.55rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 4px;
  box-shadow: 0 3px 6px #1b1a1a94;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
