.home-container{
    display: flex;
    width: 100%;
    
}

.left-container{
    display: flex;
    width: 60%;
    padding-bottom: 30px;
    
}
.left-container .space{
    width: 15%;
 
}
.left-container .expenseitem{
    flex: 1;
    padding-top: 29px;
}


.right-container{
    position: relative;
    flex: 1;
}
.right-margin{
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    margin:  0 20px 0 20px;
    height: calc(100vh - 88px);
    position: sticky;
    top: 17px;
}

.menu{
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.summary{
    height: 20%;
    width: 100%;
   
}

.chart{

    width: 100%;
    flex: 1;
}


.addForm{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(230, 230, 230) 0%, rgb(248, 245, 255) 0%, rgb(248, 243, 255) 75%, rgb(230, 234, 230) 75%, rgb(230, 230, 230));

    position: absolute;
    top: 0px;
}

@media (max-width: 950px) {

    .home-container{
        flex-direction: column-reverse;
        
    }
    .left-container {
       width: 100%;
    }
    .space{
        width: 0 !important;
    }
    .addForm{
        background: transparent;
        /* background: linear-gradient(45deg, rgb(230, 230, 230) 23%, rgb(248, 245, 255) 25%, rgb(248, 243, 255) 75%, rgb(230, 234, 230) 75%, rgb(230, 230, 230)); */
    }
    .right-margin.hide{
      visibility: hidden;
    }
}