
.main_header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#320B3D;
    background: linear-gradient(to right, #320B3D, #63157A);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 6px #1d052491;
}
.container{

    display: flex;
    width: 100%;
    height: 50px;
}
.logo{
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;

}
.user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    
}

.logo-svg{
     display: flex;
     margin-left: 20px;
     justify-content: center;
     align-items: center;
    width: 40px;
    height: 50px;

}
.logo-name{
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.user-r{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    height: 50px;
}
.nothing{
    flex:1;
}
.user .show_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 21px;

}