.footer{
    width: 100%;
    background: linear-gradient(to right, #320B3D, #63157A);;
    color: white;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer a{
    color: white;
    text-decoration: none;

}

.footer span{
    margin-right: 6px;
}